.budget {
    padding: 36px;
    flex-direction: column;
}

.budget-head {
    margin: 24px;
}

.budget-items {
    margin: 24px;
}

.add-btn-b {
    flex-direction: column;
    gap: 8px;
    height: 250px;
    width: 250px;
    border-radius: 16px;
    border: 2px var(--bud-bg) dashed;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;

    .plus-icon {
        background-color: var(--bud-bg);
        height: 40px;
        width: 40px;
        border-radius: 50%;
        color: var(--text-color);
        font-size: 24px;
        transition-property: all;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 150ms;

    }

}

.add-budget {
    gap: 24px;
}

.add-btn-b:hover {
    border-color: var(--bud-bgh);
    color: var(--bud-bght);
    background: rgb(0 110 47 / 0.05);
    cursor: pointer;

    .plus-icon {
        background-color: var(--bud-bgh);
    }
}

.pad-com {
    padding: 12px 12px 0 12px;
}

.budget-btn {
    outline: none;
    border: none;
    background-color: transparent;
}

.budget-maker {
    height: 300px;
    width: 300px;
    border-radius: 24px;
    background-color: var(--card-bg);
    flex-direction: column;
    padding: 36px;

    .upper-budget-adder {
        width: 100%;
        justify-content: space-between;

        .icon-adder {
            height: 50px;
            width: 50px;
            font-size: 30px;
            color: var(--text-color);
            border-radius: 8px;
            background-color: var(--bg-color);
        }
    }

    .lower-budget {
        height: 100%;
        width: 100%;
        align-content: end;

        .cato-adder {
            width: 100%;
        }

        .used-goal {
            
            flex-direction: row;
            width: 100%;
            justify-content: space-between;
        }
    }
}

.adder-budget {
    gap: 24px;
}
