.budget {
    padding: 36px;
    flex-direction: column;
}

.budget-head {
    margin: 24px;
}

.budget-items {
    width: 80%;
    margin: 0 auto;
    display: block; 
}


.add-btn-b {
    flex-direction: column;
    gap: 8px;
    padding: 34px;
    height: 250px;
    width: 250px;
    border-radius: 16px;
    border: 2px var(--bud-bg) dashed;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;

    .plus-icon {
        background-color: var(--bud-bg);
        height: 40px;
        width: 40px;
        border-radius: 50%;
        color: var(--text-color);
        font-size: 24px;
        transition-property: all;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 150ms;

    }

}

.bar-div {
    width: 100%; 
    background: #2d2d2d; 
    height: 8px; 
    border-radius: 10px; 
    overflow: hidden; 
    margin-top: 5px;
}

.add-budget {
    gap: 24px;
    width: 80%;
    flex-wrap: wrap;
}

.add-btn-b:hover {
    border-color: var(--bud-bgh);
    color: var(--bud-bght);
    background: rgb(0 110 47 / 0.05);
    cursor: pointer;

    .plus-icon {
        background-color: var(--bud-bgh);
    }
}

.pad-com {
    padding: 12px 0 0 0;
}

.budget-btn {
    outline: none;
    border: none;
    background-color: transparent;
    display: block;
    padding: 0;
    margin: 0;
    border: none;
    background: none;
}

.budget-maker {
    height: 250px;;
    width: 250px;
    border-radius: 24px;
    background-color: var(--card-bg);
    flex-direction: column;
    padding: 36px;

    .upper-budget-adder {
        width: 100%;
        justify-content: space-between;

        .icon-adder {
            height: 50px;
            width: 50px;
            font-size: 30px;
            color: var(--text-color);
            border-radius: 8px;
            background-color: var(--bg-color);
        }
    }

    .lower-budget {
        height: 100%;
        width: 100%;
        align-content: end;

        .used-goal {
            
            flex-direction: row;
            width: 100%;
            justify-content: space-between;
        }
    }
}

.adder-budget {
    gap: 24px;
    flex-wrap: wrap;
}

.adder-budget-div {
    display: flex;
    flex-wrap: wrap; 
    gap: 24px;
    justify-content: flex-start; 
    align-items: flex-start;
    margin: 12px 0 0 0
}

.budget-btn, .budget-div-adder {
    flex: 0 0 auto;
}

.budget-box {
    width: 100%;
}

.rem {
    justify-content: space-between;
}

.delete-button-budget {
    outline: none;
    border: none;
    border-radius: 2px;
    height: 18px;
    font-size: 16px;
    background-color: var(--bg-color);
    color: var(--text-color);
    visibility: none;
    opacity: 0;
}

.budget-maker:hover {

    .delete-button-budget {
        visibility: visible;
        opacity: 1;
        transition: 0.3s;
        cursor: pointer;
    }

}


/* dash */

.budgets-table {
    flex-direction: column;
    min-width: 350px;
    height: 100%;
    background: var(--card-bg);
    border-radius: 24px;
    padding: 24px 36px 36px 36px;
    gap: 24px;
}

.upper-budget-recent {
    justify-content: space-between;
}

.budget-box {
    gap: 4px;
}

/* dash  */


.chart-center-text p {
    font-size: 10px;
    letter-spacing: 1px;
    color: #6d6d6d;
    margin: 0;
}

.chart-center-text h2 {
    font-size: 20px;
    color: var(--text-color);
    margin: 0;
    font-weight: 800;
}


.budget-chart {
    width: 81%;
    gap: 24px;
    margin: 12px;
}

.add-special-saving {
    width: 80%;
    border-radius: 20px;
    background-color: var(--card-bg);
    color: var(--text-color);
    padding: 24px;
    margin: 24px 0 0 0;

    .add-special-btn {
        margin: 12px 0 0 0;
        
        .add-sp-Btn {
            background: linear-gradient(180deg, #22c55e 0%, #16a34a 100%);
            color: #fff;
        }
    }
}

.data_printing_special {
    gap: 12px;
}

.special-saving-print-box {
    width: 100%;
    padding: 12px;
    flex-direction: column;
    gap: 8px;

    .per-sspec {
        justify-content: space-between;
    }

    .bar-sspec {
        width: 100%; 
        background: #2d2d2d; 
        height: 8px; 
        border-radius: 10px; 
        overflow: hidden;
    }
}

.delete-button-sspec {
    outline: none;
    border: none;
    border-radius: 2px;
    height: 18px;
    font-size: 16px;
    background-color: var(--bg-color);
    color: var(--text-color);
    visibility: none;
    opacity: 0;
}


.special-saving-print-box:hover {

    .delete-button-sspec {
        visibility: visible;
        opacity: 1;
        transition: 0.3s;
        cursor: pointer;
    }
}