* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.font {
    font-family: 'Inter', sans-serif;
}

.display {
    display: flex;
}

.align-items {
    align-items: center;
}

.justify-items {
    justify-content: center;
}

.navBar {
    position: sticky;
    z-index: 1000;
    height: 4rem;
    background: rgba(247 249 251 / 0.8); 
    backdrop-filter: blur(12px); 
    border: 2px solid rgba(226, 232, 240, 0.8);
    box-shadow: 0 1px 2px rgba(0,0,0,0.04);
    justify-content: space-between;
    width: 100%;
}

.left-side {
    gap: 2rem;
    margin-left: 3rem;
}

.right-side {
    margin-right: 3rem;
    font-size: 1.6rem;
}

.acess-others {
    gap: 1.5rem;
}

.app-name {
    font-weight: 700;
}

.navBar-text {
    color: rgb(92 100 122);
    text-decoration-line: none;
}

.navBar-text:hover {
    color: #006e2f;
    font-weight: 500;
    transform: scale(1.05);
    transition: 0.3s;
    cursor: pointer;
}

.add-expense:hover {
    height: 100px;
    width: 200px;
    border-radius: 16px;
    transition: 0.3s;

    i {
        display: none;
    }
}

.common-plus-ae {

    button {
        background-color: transparent;
        text-align: center;
        outline: none;
        border: none;
        color: #fff;
        font-size: 16px;
        font-weight: 500;
    }

    button:hover {
        cursor: pointer;
    }
}

.extras {
    position: fixed;
    display: none;
    bottom: 2rem;
    right: 2rem;
    height: 100px;
    width: 200px;
    padding: auto;
    gap: 14px;
}

.add-expense:hover .extras {
    display: flex;
    flex-direction: column;
}


.add-expense {
    color: #fff;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    font-size: 2rem;
    background: linear-gradient(180deg, #22c55e 0%, #16a34a 100%);
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
}

.add-expense-incomemain {
    height: 100vmin;
    width: 100%;
    background-color: rgb(25 28 30 / 0.2);
}

.add-expense-income-page {
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(12px);
    min-width: 600px;
    border-radius: 24px;
    flex-direction: column;
}

.upper-add-expense-income {
    padding: 32px 32px 16px;
    justify-content: space-between;

    .close-expense {
        button {
            background: transparent;
            border: none;
            height: 2rem;
            width: 2rem;
            font-size: 1.5rem;
            color: rgb(82, 83, 83);
        }

        button:hover {
            cursor: pointer;
            
        }
    }
}

.add-expense-income-text  {
    p {
        color: rgb(82, 83, 83);
        font-weight: 500;
    }
}

.expense-income-form {
    padding: 1rem 2rem;

    .expense-value-input {
        padding: 24px 0;

        input {
            padding: 8px 12px;
            font-size: 48px;
            font-weight: 900;
            border: none;
            background-color: transparent;
            min-width: 100px;
            max-width: 300px;
            text-align: center;
            color: #a0a0a0;
            outline: none;
        }

        input[type="number"]::placeholder {
            text-align: center;
            color: #a0a0a0;
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
        }

    }

    .expense-merchant-input {

        margin-top: 24px;
        flex-direction: column;
        gap: 8px;

        #merchant-expense {
            padding: 12px;
            font-size: 12px;
            font-weight: 500;
            border: none;
            background-color: #fff;
            min-width: 100px;
            max-width: 50%;
            color: #202020;
            outline: none;
            border-radius: 12px;
            height: 20px;
        }

        label {
            margin-left: 4px;
            font-size: 16px;
        }
    }

    .cato-selection {
        margin-top: 24px;

        p {
            color: #1f1f1f;
            font-weight: 500;
            margin-left: 4px;
        }
        
        .grid-cato {

            .buttons {
                outline: none;
                background-color: #fff;
                border: none;
                border-radius: 16px;
                padding: 16px;
                gap: 5px;
                flex-direction: column;

                i {
                    font-size: 24px;
                    color: #6d6d6d;
                }

                p {
                    font-size: 16px;
                    color: #6d6d6d;
                }

            }

            .buttons:hover {
                background-color: #f0fdf4;
                color: #006e2f;
                transform: translateY(-1px);

                i, 
                p {
                    color: #006e2f;
                }
            }
        }

        .cato-e {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(2, 1fr);
            margin-top: 0.5rem;
            gap: 0.8rem;
        }

        .cato-i {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            margin-top: 0.5rem;
            gap: 0.8rem;
        }
    }

    .date-method-input {
        margin-top: 24px;
        flex-direction: row;
        gap: 12px;

        .fix-copy-val {
            flex-direction: column;
            gap: 12px;
            width: 50%;

            label {
                margin-left: 4px;
                font-size: 12px;
                color: #3b3b3b;
            }

            .date-value-icon,
            .payment-type-icon {
                background-color: #fff;
                border-radius: 12px;

                i {
                    padding: 12px;
                    color: #6d6d6d;
                }
            }
        }
        
        .insel {
            padding: 16px 16px 16px 0px;
            outline: none;
            border: none;
            box-sizing: border-box;
            border-radius: 12px;
            color: #6d6d6d;
        }
    }

    .expense-description {
        margin-top: 24px;
        flex-direction: column;
        gap: 12px;

        label {
            font-size: 12px;
            margin-left: 4px;
            color: #3b3b3b;
        }

        textarea {
            border: none;
            outline: none;
            border-radius: 12px;
            min-height: 60px;
            padding: 12px 16px;
        }
    }
}

.save-cancel {
    padding: 32px;
    justify-content: end;
    gap: 12px;

    .commonBtn {
        border: none;
        outline: none;
        border-radius: 12px;
    }
    
    .commonBtn:hover {
        transform: scale(1.03);
        transition: 0.3s;
        cursor: pointer;
    }
}

.cancelie {
    background: linear-gradient(180deg, #22c55e 0%, #16a34a 100%);
    box-shadow: 0 10px 15px -3px rgba(34, 197, 94, 0.2);
    font-size: 16px;
    padding: 12px 36px;
    color: #fff;
    font-weight: 600;
}

.cancelie {
    padding: 12px 24px;
    background-color: transparent;
    font-size: 14px;
}

.disable {
    display: none;
    visibility: none;
    opacity: 0;
}

.able {
    display: flex;
    visibility: visible;
    opacity: 1;
}

